.landing-background {
  height: 945px;
  text-align: center;  
  background-size: 100%;  
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-desc {
  padding-top: 100px;
}

#landing-header {
  font-size: 50px;
}


